<% provide(:setting_nav, "selected-nav") %>
<% provide(:show_back, "true") %>

<div class="user-form-box">
  <h2>アカウント編集</h2>

  <div class="user-form-wrapper">
    <%= form_for(@user) do |f| %>
      <%= render 'form_parts', user: @user, f: f %>
      <div class="actions">
        <%= f.submit '更新する', class: "btn btn-default btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="edit-back-btn-wrapper">
  <span class="btn btn-default back-btn pc-back-btn">戻る</span>
</div>
