<% provide(:mypage_nav, "selected-nav") %>
<% provide(:show_option_bar, "true") %>

<div class="main-content">
  <h1 id="mypage-title"><%= @title %></h1>

  <div class="row" id="my-locations">
    <%= render 'users/my_locations', locations: @locations %>
  </div>
</div>
