.location-info {
  width: 94%;
  margin: 40px auto 0;
}

.simple-map-wrapper {
  padding: 40px 10px 0px 10px;
}

.simple-map {
  width: 400px;
  height: 400px;
}

.detail-img {
  max-width: 100%;
}

.ranking-box {
  display: block;
  border: 1px solid #ccc;
  width: 94%;
  margin: 10px 3%;
  color: #000;
  text-decoration: none;

  &:hover {
    background-color: #f3f3f3;
    color: #000;
  }

  .ranking-item {
    width: 95%;
    margin: 10px auto;

    .ranking-img-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: 10px;

      &:before {
        content:"";
        display: block;
        padding-top: 75%;
      }

      .ranking-img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
