.map-top {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
}

.gm-style img[style*="height: 46px;"] {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.gm-style-iw {
  width: 218px !important;
  top: 15px !important;
  left: 38px !important;
  font-size: 16px !important;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.new-iw {
  width: 150px !important;
  top: 15px !important;
  left: 4px !important;
  font-size: 15px !important;
  padding: 20px 20px 15px;
}

.new-marker-link:hover {
  text-decoration: none;
}

.window-title {
  display: block;
  font-size: 16px;
  background-color: rgb(255, 200, 150);
  padding: 3px 10px;
  width: 240px;
}

.window-wrapper {
  position: relative;
}

.window-img {
  width: 200px;
  display: block;
  margin: 5px 0;
}

.window-wrapper {
  padding: 5px 9px;
}

.window-parts-wrapper {
  padding: 4px 0 3px;
  height: 26px;
}

.window-link {
  display: block;
  position: absolute;
  right: 30px;
  bottom: 5px;
  font-size: 14px !important;
}

.closebtn {
	width: 30px !important;
  height: 30px !important;
  opacity: 1 !important;
  right: 27px !important;
  top: 10px !important;

  + img {
    right: 27px !important;
    top: 5px !important;
  }
}

.new-closebtn {
  right: -5px !important;
  top: 10px !important;

  + img {
    right: -5px !important;
    top: 5px !important;
  }
}

/* デフォルトの閉じるボタンを消す */
.closebtn img {
	display: none;
}
/* fontawesomeで閉じるボタンを作る */
.fa-times-circle {
	padding: 0;
	font-size: 28px!important;
	color: #000099;
}

@media (max-width: 330px) {
  .window-link {
    right: 10px !important;
  }

  .closebtn {
    right: 5px !important;

    + img {
      right: 5px !important;
    }
  }

  .new-closebtn {
    right: -5px !important;

    + img {
      right: -5px !important;
    }
  }
}
