.wrapper {
  height: 100%;
}

.map-top {
  height: 100%;
}

.window-img {
  width: 200px;
  display: block;
}

.gm-style img[style*="height: 40px;"] {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}
