// login, signup
.panel {
  max-width: 480px;
  min-width: 240px;
  margin: 0 auto;
  input[type="submit"].btn-block {
    width: 160px;
    margin: 0 auto;
  }
}

.btn-change-form {
  max-width: 480px;
  min-width: 240px;
  margin: 0 auto;
}
