<div class="simple-map-wrapper">
  <div id="map" class="simple-map"></div>
</div>

<script>
  var latLng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);
  var options = {
    zoom: 15,
    center: latLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: false,
    styles: [
      {featureType: 'road.highway', elementType: 'geometry.fill', stylers: [{weight: '0.70'}]},
      {featureType: 'transit.line', elementType: 'geometry.fill', stylers: [{weight: '0.60'}]}
    ]
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  var marker = new google.maps.Marker({
    position: latLng,
    map: map
  });
</script>
