<% provide(:show_back, "true") %>

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-6 col-sm-7">
    <div class="detail-box">
      <h2>投稿編集</h2>
      <div class="detail-wrapper">
        <%= form_for(@location) do |f| %>
          <%= render 'form_parts', location: @location, f: f %>
          <div class="actions">
            <%= f.submit '更新する', class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="back-btn-wrapper">
      <span class="btn btn-default back-btn pc-back-btn">戻る</span>
    </div>
  </div>

  <div class="col-md-4 col-sm-5">
    <%= render 'simple_map' %>
  </div>

  <div class="col-md-1"></div>
</div>
