<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-6 col-sm-7">
    <div class="detail-box">
      <h2>新規投稿</h2>
      <div class="detail-wrapper">
        <%= render 'form', location: @location %>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-5">
    <div class="simple-map-wrapper">
      <div id="map" class="simple-map"></div>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>

<script>
  var latLng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);
  var options = {
  zoom: 15,
  center: latLng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  var marker = new google.maps.Marker({
    position: latLng,
    map: map
  });
</script>
