<% provide(:ranking_nav, "selected-nav") %>
<% provide(:show_cog, "true") %>

<div class="main-content">
  <h1>いいね！が多い投稿</h1>

  <div id="ranked-locations">
    <%= render 'locations/ranked_locations', locations: @locations %>
  </div>
</div>
